extends ../templates/layout

block content
    center.container
        h3 Challenge Someone:   
        b Opponent Username:   
        input#username(type='text')
        br
        b Game:   
        select(id='operation')
            option(value=" ") -- Please choose a game --
            option(value="rps") Rock, Paper, Sissors
            option(value="ttt") TicTacToe
            option(value="checkers") Checkers
            option(value="chess") Chess
        input(type='button', value='Challenge', onclick='newChallenge()')

    block challenges
        h3 Challenges:
            form
                
        table
            tr
                td Opponent
                td Game
            each val in challengeInfo
                tr
                    td
                        a(href=`/view/user/${val['opponent']}`)= val['opponent']
                    td= val['gtype']
                    td
                        input(value='Accept', type='button', onclick=`#Accept(${val['id']})`)