extends ../templates/layout

block append scripts
    script(src="/js/lobby.js")

block content
    center.container
        h3 Challenge Someone:
        b Opponent Username:
        input#opponent(type="text")
        br
        b Game:
        select(id='game')
            option(value=" ", selected="selected") -- Please choose a game --
            option(value="rps") Rock, Paper, Sissors
            option(value="tictactoe") TicTacToe
            option(value="chess") Chess
        br
        br
        input(type='button', value='Challenge', onclick='challenge()')

    block challenges
        h3 Challenges:
            form

        table
            tr
                td Opponent
                td Game
                td
            each val in challengeInfo
                tr
                    td
                        a(href=`/view/user/${val['opponent']}`)= val['opponent']
                    td= val['gtype']
                    td
                        input(value='Accept', type='button', onclick=`goTo('/games/${val['opponent']}-${val['gtype']}')`)