extends templates/layout

block append scripts
    script(src="/js/avatar.js")

block content
    center.container
        h2 Please pick an avatar:
        img.avatar#default(src='/avatars/default.jpg', data-img='default.jpg')
        img.avatar#dragon(src='/avatars/dragon.png', data-img='dragon.png')
        br
        img.avatar#dude(src='/avatars/dude.png', data-img='dude.png')
        img.avatar#lady_dude(src='/avatars/lady_dude.png', data-img='lady_dude.png')
        br