extends templates/layout

block content
    if user.loggedIn
      a(href='/view/games/lobby') Challenges
    h2(style='color: #000000;') Pick a Game To Play
    p or Continue to play
    br
    a(href='rps.html')
      img(src='https://cdn-images-1.medium.com/max/1600/0*CtoUAxqGUbzzzc9W.png', style='width:210px;height:150px;')
    a(href='ttt.html')
      img(src='https://upload.wikimedia.org/wikipedia/commons/3/32/Tic_tac_toe.svg', style='width:210px;height:150px;')
    a(href='chess.html')
      img(src='https://upload.wikimedia.org/wikipedia/commons/6/6f/ChessSet.jpg', style='width:210px;height:150px;')
    a(href='checkers.html')
      img(src='https://upload.wikimedia.org/wikipedia/commons/b/b6/Draughts.svg', style='width:210px;height:150px;')