extends templates/layout

block append scripts
    script(src="/js/login.js")

block content
    center.container
        h2(style='color: #000000;') Please Login to Store Your Game Progress
        form
            b Username: 
            input#username(type='text')
            br
            b Password: 
            input#password(type='password')
            br
            br
            br
            input(type='button', value='Login', onclick='login()')
            br
            br
            p New User?
            a(href="/view/signup") Sign up here
            br
        br


block login