extends templates/layout

block append scripts
    script(src="/js/profile.js")

block content
  p= username
  img.image(src='/avatars/' + avatar)
  br
  if username == user.username
    input(type='button', value='Edit', onclick="goTo('/view/user-edit/avatar')", class='edit-button', id='edit-button')