extends templates/layout
block append scripts
    script(src="/js/signup.js")
block content
    center.container
        h2(style='color: #000000;') Please pick a username and password
        form
            b Username:      
            input#username(type='text')
            br
            br
            b Password:      
            input#password(type='password')
            br
            b Re-enter Password:  
            input#password2(type='password')
        br
        input(type='button', value='Create Account', onclick='signup()')
