mixin login(user={loggedIn: false})
    if !user.loggedIn
        input(type='button', value='Login', onclick="goTo('/view/login')", class='l-button', id='login-button')
    else
        p(id='login-button') Logged In as #{user.username}
            br
            a(href='/logout') Log out

html
    block head
        title DragonGames
        block scripts
            script(src="/socket.io/socket.io.js")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js")
            script(src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js")
            script(src="/js/index.js")
        block styles
            link(rel='stylesheet', href='/styles/styles.css', type='text/css')
            link(type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css")

    body
        block header
            center
                h1 DragonGames
                block login
                    +login(user)
        center
            block content
            block error
                div#error

    block foot
          #footer
            p CS 275 - Section 001 - Professor Matthew Burlick