body {
    background-color: #D1C4E9;
    padding: 16px;
}

header {
    position: sticky;
    top: 0;
    width: 100%
}

.l-button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

#login-button {
    position: absolute;
    left: 85%;
    top: 2%;
}

#error {
    color: red;
}

.container {
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}

table.board {
    border-collapse: collapse;
}

table td.tile {
    border: 5px solid black;
}


img.TicTacToe-tile-image {
    width: 195px;
    height: 195px;
}

img.Chess-tile-image {
    width: 75px;
    height: 75px;
}

table td.Chess-tile {
    border: 5px solid black;
}

table.TicTacToe tr:first-child td.TicTacToe-tile {
    border-top: 0px;
}

table.TicTacToe tr td:first-child.TicTacToe-tile {
    border-left: 0px;
}

table.TicTacToe tr:last-child td.TicTacToe-tile {
    border-bottom: 0px;
}

table.TicTacToe tr td:last-child.TicTacToe-tile {
    border-right: 0px;
}

table td.Chess-tile {
    border: 5px solid black;
}
